@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>What Meal do you wanna cook today.</p>
</div>
<div class="container">
    <div class="row">
            <h2>Today's Date: @DateTime.Now.ToShortDateString()</h2>
    </div>
</div>